/* 共通 */
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  color: #292929;
}

body {
  font-family: MOBOFont;
}

header {
  background-color: white;
  box-shadow: 0 0 8px;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 30;
}

header a img {
  width: auto;
  height: 100%;
  aspect-ratio: 5/2;
}

main {
  padding-top: 50px;
  background-color: #cce4ff;
}

footer {
  background-color: white;
  padding-top: 15px;
}

footer p {
  font-size: 12px;
}

p {
  padding: 5px;
}

/* ページ汎用 */
h1.center,
h2.center,
h3.center,
p.center,
div.center {
  text-align: center;
}

h1.left,
h2.left,
h3.left,
p.left,
div.left {
  text-align: left;
}

.line {
  width: 100%;
  border-bottom: 2px solid #292929;
  padding-top: 10px;
  margin-bottom: 10px;
}

#snowParticles {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.horizontal li {
  display: inline-block;
  padding: 0px 15px 30px;
}

@font-face {
  font-family: 'MOBOFont';
  src: url("../font/MOBO-SemiBold.otf");
}

.horizontal li {
  display: inline-block;
  padding: 0px 15px 30px;
}

/* コンテンツ */
.content {
  position: relative;
  padding: 10px 0;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  z-index: 1;
}

footer .content img {
  max-width: 400px;
  width: 100%;
  aspect-ratio: 5/2;
}

footer .content a img {
  width: 20px;
  aspect-ratio: 1;
}

.profile {
  margin: 0 auto;
  width: 90%;
}

.fadeIn {
  animation: fadeInAnime .3s ease 0s 1 normal forwards;
}

@keyframes fadeInAnime {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOutAnime .3s ease 0s 1 normal forwards;
}

@keyframes fadeOutAnime {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* スライドショー */
.slideshowImage {
  overflow: hidden;
  position: relative;
  border: 5px solid;
  border-color: gray;
  border-radius: 8px;
  aspect-ratio: 16/9;
  text-align: left;
}

.slideshowImage img {
  width: 100%;
  height: auto;
  position: absolute;
  animation: slideshowImageAnime 40s linear 0s infinite normal forwards;
}

.slideshowImage img:nth-of-type(2) {
  animation-delay: 10s;
}

.slideshowImage img:nth-of-type(3) {
  animation-delay: 20s;
}

.slideshowImage img:nth-of-type(4) {
  animation-delay: 30s;
}

@keyframes slideshowImageAnime {
  0% {
    opacity: 1;
    z-index: 1;
    transform: scale(1.2);
  }

  28% {
    opacity: 1;
  }

  30% {
    opacity: 0;
    z-index: 2;
    transform: scale(1);
  }

  31% {
    z-index: 0;
  }

  100% {
    opacity: 0;
    z-index: 0;
  }
}

/* リンクボタン */
.linkButton {
  position: relative;
  display: inline-block;
  padding: 10px 25px 10px 5px;
  margin: 2px;
  color: #313131;
  transition: .3s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  border: 5px solid;
  border-color: gray;
  border-radius: 8px;
}

.linkButton:hover {
  background-color: #FFF;
}

.linkButton:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transition: right .3s;
  width: 6px;
  height: 6px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  transform: translateY(-50%) rotate(45deg);
}

.linkButton:hover:after {
  right: 7px;
}

/* パララックス */
.parallax {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  top: 0px;
  height: 100vh;
  margin-top: -50px;
  padding-bottom: 54px;
  box-shadow: 0px -4px 4px 0px rgba(29, 29, 29, .1);
  background-color: gray;
  align-items: center;
}

.parallax h2 {
  width: 100%;
}

.parallax_content,
.parallax img {
  display: inline-block;
  width: 45%;
  max-width: 400px;
}

.parallax img {
  border: 5px dashed;
  border-color: rgba(255, 255, 255, 0.5);
  aspect-ratio: 1/1;
}

.parallax .linkButton,
.parallax .linkButton::after {
  border-image: none;
  border-color: rgba(255, 255, 255, 0.5);
}

.parallax:nth-of-type(1) {
  background-color: gray;
}

.parallax:nth-of-type(2) {
  background-color: gray;
}

/* 記事 */
.article {
  margin: 0px auto 0px;
  box-sizing: border-box;
}

.article-title {
  padding-bottom: 6px;
  border-bottom: 1px solid #333;
  clear: both;
  margin-right: 12px;
  margin-left: 12px;
  padding-top: 0px;
  margin-top: 0px;
}

.article-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.article-list li {
  border-bottom: 1px dotted #333;
  padding: 8px 0px;
  margin: 0px 12px;
}

.article-list li:last-child {
  border-bottom: medium none;
}

.article-list-date {
  padding: 0px 8px;
  color: #666666;
}

details[open] summary {
  border-bottom: 1px dotted #333;
  margin: 0px 12px;
}

details summary::before {
  content: "▼";
}

details[open] summary::before {
  content: "▲";
}

summary {
  display: block;
  list-style: none;
  text-align: center;
}

summary::-webkit-details-marker {
  display: none;
}

/* ラベル */
.label {
  margin: 0px 12px;
  padding: 3px 6px;
  border: 1px solid #333;
  background: #656d78 none repeat scroll 0% 0%;
  color: white;
  text-align: center;
  white-space: nowrap;
  font-size: 0.6em;
  line-height: 1;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.label_black {
  border: 1px solid #656d78;
  background: black none repeat scroll 0% 0%;
}

.label_red {
  border: 1px solid #5d9cec;
  background: red none repeat scroll 0% 0%;
}

.label_green {
  border: 1px solid #a0d468;
  background: lime none repeat scroll 0% 0%;
}

.label_blue {
  border: 1px solid #ffce54;
  background: blue none repeat scroll 0% 0%;
}

/* ロード画面 */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #333;
  text-align: center;
  color: white;
  visibility: visible;
  opacity: 1;
}

#loadingLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loadingLogo img {
  width: 80%;
  height: auto;
}

/* 画面サイズ別設定 */
@media screen and (min-width: 955px) {

  /* ナビゲーション */
  #navigation {
    position: fixed;
    right: 0;
    width: 80%;
    top: 0;
    text-align: right;
    height: 50px;
  }

  #navigation li {
    display: inline-block;
    text-align: left;
    letter-spacing: -.001px;
    margin: 11px 4%;
  }

  #navigation li a,
  #navigation li span {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    color: gray;
  }

  .navigationButton,
  .navigationButton span,
  .navigationButton span:nth-of-type(1),
  .navigationButton span:nth-of-type(2),
  .navigationButton span:nth-of-type(3),
  .navigationButton.active span:nth-of-type(1),
  .navigationButton.active span:nth-of-type(2),
  .navigationButton.active span:nth-of-type(3) {
    visibility: hidden;
  }

  /* プロフィール */
  .profilePanel {
    position: relative;
    display: inline-block;
    width: 49%;
    vertical-align: middle;
  }

  .profilePanel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* 画面サイズ別設定 */
@media screen and (max-width: 954px) {

  /* ナビゲーション */
  #navigation {
    position: fixed;
    right: 0;
    width: 100%;
    top: 50px;
    height: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
  }

  #navigation li {
    display: inline-block;
    letter-spacing: -.001px;
    width: 30%;
    margin-top: 60px;
  }

  #navigation li a,
  #navigation li span {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    color: white;
  }

  .navigationButton {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .navigationButton span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    width: 45%;
    box-shadow: 0 0 2px;
  }

  .navigationButton span:nth-of-type(1) {
    top: 15px;
    z-index: 31;
    background-color: gray;
  }

  .navigationButton span:nth-of-type(2) {
    top: 23px;
    background-color: gray;
  }

  .navigationButton span:nth-of-type(3) {
    top: 31px;
    background-color: gray;
  }

  .navigationButton.active span:nth-of-type(1) {
    top: 18px;
    left: 16px;
    transform: translateY(6px) rotate(45deg);
    width: 40%;
  }

  .navigationButton.active span:nth-of-type(2) {
    opacity: 0;
  }

  .navigationButton.active span:nth-of-type(3) {
    top: 30px;
    left: 16px;
    transform: translateY(-6px) rotate(-45deg);
    width: 40%;
  }

  /* プロフィール */
  .profile {
    max-width: 600px;
  }

  .profilePanel {}

  .profilePanel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}